<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>OXY APP</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

</head>

<body>
 <div class="login">
  <a href="{{ url_for('readings')}}">View Oximeter Readings</a>
	<h1>IOT PULSE OXIMETRY MODEL</h1>
     <h3> Enter the following values to predict COVID-19 infection</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="sneeze" placeholder="Sneeze" required="required" />
    	<input type="text" name="Runny Nose" placeholder="Runny Nose" required="required" />
    	<input type="text" name="Fever" placeholder="Fever" required="required" />
    	<input type="text" name="Fatigue" placeholder="Fatigue" required="required" />
		<input type="text" name="Dry Cough" placeholder="Dry Cough" required="required" />
        <input type="text" name="Headache" placeholder="Headache" required="required" />
        <input type="text" name="Shortness of Breath" placeholder="Shortness Of Breath" required="required" />
        <input type="text" name="SPo2" placeholder="SPo2" required="required" />
        <input type="text" name="Heart Rate" placeholder="Heart Rate" required="required" />
        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>